@font-face{
    font-family: runescape;
    src: url("../fonts/runescape.ttf") format('truetype')


}
body{
    background-color: steelblue;
    font-family: runescape;
    
}

header{
    min-width: inherit;
    height: 30%;
    border: 2px solid black;
    padding: 8px;
    margin: 4px;
}

#headerTable{
    display: flex;
    min-width: 100%;
    background-color: white;
    border: 4px solid black;
    border-style: groove black;
    border-width: 2px;
    align-items: center;
    justify-content: center;
    
    
}

#navbar{
    display: flex;
    min-width: inherit;
    max-width: inherit;
    margin: 6px 0px 0px 0px;
    padding: none;
    height: 20%;
}

.navbarButton{
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    margin: 2px;
    width: 25%;
    height: 48px;
    border: none;
    font-family: runescape;
    font-size: 36px;
}

#skilsButton{

}

#bossesButton{

}

#minigamesButton{

}

#raidsButton{

}

.mainDiv{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;

}

.bodyTable{
    background-color: white;
    border: 4px solid black;
    border-style: groove black;
    border-width: 2px;
    margin: 4px;
    min-width: 30%;
    
    
}

td{
    border: 4px solid black;
    border-style: solid black;
    border-width: 2px;
    padding: 10px;
    
}

#generalSubtable{
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    
}

#skillTable{
    min-width: 100%;
}

.skillTitle{
    font-size:larger;
    font-weight: bold;
}