@font-face{
    font-family: runescape;
    src: url("../fonts/runescape.ttf") format('truetype')


}
body{
    background-color: steelblue;
    font-family: runescape;
    
}


.navbarButton{
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    margin: 2px;
    width: 25%;
    height: 48px;
    border: none;
    font-family: runescape;
    font-size: 36px;
}

#skilsButton{

}

#bossesButton{

}

#minigamesButton{

}

#raidsButton{

}

.mainDiv{
    border: 2px solid black;
    margin: 4px;

}

.bodyTable{
    background-color: white;
    border: 4px solid black;
    border-style: groove black;
    
}

td{
    border: 4px solid black;
}

#generalSubtable{
    font-size: larger;
    font-weight: bolder;
    
}

.skill-icon{
    max-height: 10%;
    max-width: 10%;
}