@font-face{
    font-family: runescape;
    src: url("../fonts/runescape.ttf") format('truetype')

}
@font-face {
    font-family: runescape-bold;
    src: url("../fonts/runescape_bold.ttf") format('truetype')
}
@font-face {
    font-family: runescape-small;
    src: url("../fonts/runescape_small.ttf") format('truetype')
}

body{
    background-color: steelblue;
    font-family: runescape;
    
}



#skills-tab-pane{
    background-color: black;
}

#bosses-tab-pane{
    background-color: black;
}

#minigames-tab-pane{
    background-color: black;
}

#raids-tab-pane{
    background-color: black;
}


/* Bootstrap Overrides */
.nav-link{
    background-color: grey !important;
    color: black !important;
    border: none;
    
}

.nav-link.active{
    background-color: black !important;
    color: yellow !important;
}



.skillTitle{
    color: yellow !important;
}

.skill-card{
    background-color: grey;
}

.boss-card{
    
}

.boss-icon{
    display: block;
    width: 96px;
    height: 96px;
    object-fit: contain;
}

@media (max-width: 576px) {
    .boss-icon{
        width: 64px;
        height: 64px;
    }
}

.boss-name{
    
}

.kill-count{
    color: yellow;
}
